<div>
    <form action="/productos" method="post">
        <input type="text" name="title" placeholder="Nombre">
        <input type="text" name="price" placeholder="precio">
        <input type="text" name="thumbnail" placeholder="url de imagen">

        <input type="submit" value="subir producto" class="btn btn-primary">
        <input type="reset" value="limpiar" class="btn btn-danger">
    </form>
</div>